.ant-page-header {
    background: #0093df;
}

.ant-page-header-heading-left {
    text-align: center!important;
    display: block!important;
}

.ant-page-header-heading {
    text-align: center!important;
    display: block!important;
}

.ant-page-header-back {
    float: left;
    padding-top: 10px;
}